@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&family=Literata:opsz@7..72&display=swap');



*{
  $dividend: abs(#{100%});
  font-family: "Roboto", sans-serif;
  --yellow: #F2C46E;
  --secondYellow: #cb935d;
  --white: #fff;
  --secondWhite: #f2f2f0;
  --brownGray: #232323;
  --gray: #1C2628;
  --gold: #cb935d;
  --black: #000000;
  --blue: rgb(46,45,87);
}

.zero{
  display: none;
}

.form_title{
  background: var(--gray);
  padding: 10px;
  border-bottom: 2px solid var(--yellow);
}
.form_block{
  padding: 10px;
}

.opacity_zero{
  opacity: 0;
}

.link{
  text-decoration: none;
}

.font-literata{
  font-family: 'Literata', serif;
}

body{
  background: var(--secondWhite);
  font-family: 'Istok Web', sans-serif;
}

header{
  background-color: var(--gray);
  color: var(--white);

  img.logo{
    width: 140px;
  }
}

nav{
  background-color: var(--brownGray);

  a.nav-underline{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: var(--bs-navbar-nav-link-padding-x);
    margin-right: var(--bs-navbar-nav-link-padding-x);
    color: var(--yellow);
    position: relative;
    text-decoration: none;
  }

  a.nav-underline::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--gold);
    transition: width 0.5s;
  }

  a.nav-underline:hover::after,
  a.nav-underline.active{
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    background-color: var(--yellow);
    transition: width 0.5s;
  }
}

.small-text{
  font-size: 0.8rem;
}
.icon{
  max-width: 30px;
  filter: invert(100%);
}
.icon_button{
  border: 0;
  background: 0;
}

.first-screen{
  background-image: url('./chess.jpg'); 
  background-position: center center; 
  background-size: cover; 
  background-repeat: no-repeat;
  position: relative;
  color: var(--white);
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 90px;
  overflow: hidden;

  picture{
    z-index: -1;
    position: absolute;
    max-height: 670px;
    overflow: hidden;
    top: 0;

    img{
      width: 100%;
    }
  }

  h1{
    text-transform: unset;
    padding-bottom: 45px;
    font-weight: 400;
    font-size: 55px;
    line-height: 1.2;
  }

  .main-info{
    max-width: 880px;
  }

  .subtitle{
    padding-top: 15px;
    border-top: 2px solid var(--yellow);
    font-size: 20px;
  }
}

.button-gold{
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--gold);
  -webkit-transition: all 0.3s ease-out 0s, color 0s;
  transition: all 0.3s ease-out 0s, color 0s;
  margin-bottom: 4px;
  padding: clamp(0.75rem, 0.6923rem + 0.2564vw, 1rem) clamp(1.5rem, 1.3558rem + 0.641vw, 2.125rem);
  font-size: clamp(16px, 0.9423rem + 0.2564vw, 20px);

  box-shadow: 4px 4px 0px 0px Rgba(203,147,93, .8);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;

  &:hover{
    background-color: var(--gold);
    box-shadow: none;
  }
}

.uppercase{
  text-transform: uppercase;
}

#services{
  padding: 70px 0;
}
#action{
  background: var(--gray);
  padding: 20px;
}

.text_yellow{
  color: var(--secondYellow);
}
.circle_img{
  border-radius: 50%;
}

.circle_img{
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.circle_img:hover {
  animation: jump 0.7s;
}

.gap-10{
  gap: 100px;
}

.numbers{
  position: relative;
  color: var(--black);
  padding-top: 100px;
  padding-bottom: 90px;
  overflow: hidden;
}

.work{
  background-image: url('./stat.jpeg'); 
  background-position: center center; 
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  color: var(--white);
  padding-top: 100px;
  padding-bottom: 90px;
  overflow: hidden;

  img{
    width: 100%;
    max-width: 75px;
  }
}
.svg_img{
  fill: var(--white);
  filter: invert(100%);
  padding: 10px;
  max-width: 75px;
}

.portfolio{
  padding-top: 100px;
  position: relative;
  padding-bottom: 90px;
  overflow: hidden;
  img{
    width: 45%;
    height: 100%;
  }
  .img_row{
    width: 100%;
  }
  .slide_title{
    font-size: 17px;
    font-weight: bolder;
  }
  p{
    margin-bottom: 0;
  }
}
.calculator{
  padding-top: 50px;
  padding-bottom: 30px;
  position: relative;
  background-color: var(--brownGray);
  color: var(--white);
  button{
    background: var(--secondYellow);
    color: var(--white);
    padding: 10px;
  }
}

.partners{
  background-image: url('./building_front.jpeg'); 
  background-position: center center; 
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  color: var(--white);
  padding-top: 100px;
  padding-bottom: 90px;
  overflow: hidden;
  img{
    width: 100%;
  }
  .subtext{
    max-width: 320px;
  }
}

.question_and_answer{
  position: relative;
  color: var(--black);
  padding-top: 100px;
  padding-bottom: 90px;
  overflow: hidden;
  form{
    background: var(--white);
    button{
      background: var(--secondYellow);
      color: var(--white);
      padding: 10px;
      border: 0;
      border-radius: 0;
    }
  }
}

.question{
  background-image: url('./building_front.jpeg'); 
  background-position: center center; 
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  color: var(--white);
  padding: 100px 0 90px;
  overflow: hidden;
}

.clients{
  position: relative;
  color: var(--black);
  padding: 100px 0 90px;
  overflow: hidden;
  .client_response{
    height: fit-content; 
  }
  .client_text{
    font-size: 13px;
  }
  img{
    max-width: 100%;
  }
}

.contacts{
  position: relative;
  color: var(--black);
  padding: 100px 0 90px;
  overflow: hidden;
  a{
    text-decoration: none;
  }
  img{
    max-width: 100%;
  }
  form{
    background: var(--white);
  }
  button{
    background: var(--secondYellow);
    color: var(--white);
    padding: 10px;
    border: 0;
    border-radius: 0;
  }
}
.more_question{
  position: relative;
  color: var(--white);
  padding: 30px 0 20px;
  overflow: hidden;
  background: var(--blue);
  background: radial-gradient(circle, rgba(46,45,87,1) 0%, rgba(0,0,0,1) 100%);
}

footer{
  .footer{
    border-top: 2px solid var(--yellow);
    background: var(--gray);
    color: var(--white);
    padding: 20px;
  }
  a{
    cursor: pointer;
  }
  .logo{
    width: 280px;
    margin-bottom: 20px;
  }
  .link{
    margin-bottom: 10px;
  }
  .services{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    
    .services_links{
      color: white;
      cursor: pointer;
      text-decoration: none;
      transition: all ease 0.3s;
    }
    .services_links:hover{
      color: var(--yellow);
    }
  }
  .footer_bottom{
    padding: 20px;
    background: #202020;
    a{
      text-decoration: none;
      color: var(--yellow);
    }
  }
}

@keyframes jump {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(0.9);
  }
}

@media screen and (max-width: 1200px) {
  .first-screen{
    .subtitle{
      font-size: 17px;
    }
    h1{
      font-size: 25px;
      padding-bottom: 0;
    }
  }
  .portfolio{
    img{
      width: 100%;
      height: 100%;
    }
    .svg_img{
      opacity: 0;
    }
  }
  footer{
    .logo{
      width: 60%;
    }
  }
}